alabaster==0.7.12
autopep8==1.6.0
Babel==2.10.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
dgl-cu102==0.8.1
dglgo==0.0.1
docutils==0.17.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
isort==5.10.1
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
networkx==2.6.3
nltk==3.7
numpy==1.21.6
numpydoc==1.3.1
packaging==21.3
pycodestyle==2.8.0
pydantic==1.9.0
Pygments==2.12.0
pyparsing==3.0.8
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.0.2
scipy==1.7.3
sklearn==0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
threadpoolctl==3.1.0
toml==0.10.2
torch==1.9.0
tqdm==4.64.0
typer==0.4.1
typing-extensions==4.2.0
urllib3==1.26.9
zipp==3.8.0
numpy==1.19.5
pandas==1.1.5
matplotlib==3.4.3
matplotlib-inline==0.1.2
keras==2.8.0
tensorflow==2.5.0
tensorflow-cpu==2.8.0
transformers==4.18.0